@import "~assets/scss/variables";
@import "~assets/scss/mixins";

.fb-devices-connect-credentials {
  &__copy-button {
    cursor: pointer;
  }

  &__row {
    @include flexRow;

    > div:first-child {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
      flex: 0 0 60%;
      max-width: 60%;
      padding-right: $padding-sm;
    }

    > div:last-child {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
      flex: 0 0 40%;
      max-width: 40%;
      padding-left: $padding-sm;
    }
  }
}
