@import "~assets/scss/variables";

.fb-triggers-detail-default-actions-container-add-or-edit {
  &__container {
    .fb-ui-modal-window {
      &__body {
        .fb-ui-items-container__items {
          padding: 0;
        }
      }

      &__footer {
        padding: 0 $padding-sm $padding-md $padding-sm;
      }
    }

    &[data-type="select-device"].fb-ui-modal-window__container {
      .fb-ui-modal-window__body {
        padding: $padding-md 0;
      }
    }

    &[data-type="list-devices"].fb-ui-modal-window__container {
      .fb-ui-modal-window__body {
        padding: 0 $padding-sm;
      }
    }
  }

  &__icon {
    font-size: 4em;
    margin-bottom: $margin-sm;
  }

  &__content {
    min-height: 10rem;
  }
}
