@import "~@fastybird-com/theme/assets/styles/variables";

.fb-list-item {
  &__container {
    .row {
      height: 55px;

      @media (min-width: $screen-sm-min) {
        height: 45px;
        border: 1px solid $gray-lighter;
        border-radius: 4px;
        margin-right: 0;
      }

      @media (max-width: $screen-xs-max) {
        padding-top: 5px;
      }
    }
  }

  &__container.with-buttons {
    .row {
      @media (min-width: $screen-sm-min) {
        height: 70px;
      }
    }
  }

  &__heading {
    overflow: hidden;
    padding-top: 10px;
    height: 40px;
    max-width: 100%;

    &.with-subheading {
      padding-top: 5px;
    }

    > h2 {
      margin: 2px 0;
      font-size: 120%;
      font-weight: 540;
    }

    &.with-subheading {
      > h2 {
        font-size: 100%;
        font-weight: 600;
      }
    }

    small {
      font-size: 80%;
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 85%;
      white-space: nowrap;
      }
  }

  &__icon {
    font-size: 25px;
    line-height: 45px;
    height: 45px;

    @media (min-width: $screen-sm-min) {
      height: 45px;
      line-height: 45px;
    }
  }

  &__buttons {
    height: 30px;

    .fb-btn {
      padding-top: 2px;
      padding-bottom: 2px;
      margin-right: 5px;
    }
  }

  &__detail-icon {
    margin-right: 5px;
    font-size: 15px;
    line-height: 45px;
    height: 45  px;

    @media (min-width: $screen-sm-min) {
      line-height: 45px;
      height: 45px;
    }
  }

  &__container.with-buttons {
    .fb-list-item {
      &__icon {
        @media (min-width: $screen-sm-min) {
          height: 70px;
          line-height: 70px;
        }
      }

      &__detail-icon {
        @media (min-width: $screen-sm-min) {
          line-height: 70px;
          height: 70px;
        }
      }
    }
  }
}
