@import "~assets/scss/variables";

.fb-triggers-create {
  &__items {
    margin-bottom: 0;

    .fb-list-items-container__heading {
      padding-left: 0;
    }

    .fb-list-items-container__items {
      padding: 0;
    }
  }

  &__add-item {
    &-row {
      &.fb-ui-button[data-size="lg"] {
        margin-top: $margin-xs;
        font-size: $font-size-lg;
        line-height: $line-height-lg;
      }
    }
  }
}
