@import "~@fastybird/web-ui-theme/src/assets/variables/colors";
@import "~@fastybird/web-ui-theme/src/assets/variables/screen";
@import "~@fastybird/web-ui-theme/src/assets/mixins/utilities";

.fb-list-item {
  &__container {
    height: 5.5rem;

    &-default {
      margin-top: $margin-xs;
      margin-bottom: $margin-xs;

      @media (max-width: $screen-xs-max) {
        margin: $margin-xs;
      }

      border: 1px solid $gray-lighter;
      @include border-radius(0.5rem);
    }

    &-list {
      .fb-list-item {
        &__inner {
          border-bottom: 1px solid $gray-lighter;
        }
      }
    }
  }

  &__inner {
    height: 100%;

    @include flexRow;
  }

  &__icon {
    font-size: 2.75rem;
    line-height: 5.3rem;
    height: 100%;
    text-align: center;

    -webkit-box-flex: 0;
    -ms-flex: 0 0 5.5rem;
    flex: 0 0 5.5rem;
    max-width: 5.5rem;
  }

  &__heading {
    height: 100%;
    overflow: hidden;

    -webkit-box-flex: 0;
    -ms-flex: 4 0 0;
    flex: 4 0 0;

    > h2 {
      margin: 0;
      line-height: 5.3rem;
      font-size: 1.5rem;
      font-weight: 500;
    }

    &-with-subheading {
      > h2 {
        margin-top: 1rem;
        line-height: 2rem;
        font-size: 1.4rem;
      }

      > small {
        line-height: 1.3rem;
        font-size: 1.05rem;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 85%;
        white-space: nowrap;
      }
    }
  }

  &__detail {
    font-size: 1.75rem;
    line-height: 5.3rem;
    height: 100%;
    text-align: right;
    color: $gray-light;

    padding-right: $padding-sm;

    -webkit-box-flex: 0;
    -ms-flex: 0 0 2.75rem;
    flex: 0 0 2.75rem;
    max-width: 2.75rem;
  }

  &__content,
  &__content-large {
    font-size: 1.75rem;
    line-height: 5.3rem;
    height: 100%;
    color: $gray-light;
  }

  &__content {
    text-align: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 5.5rem;
    flex: 0 0 5.5rem;
    max-width: 5.5rem;
  }

  &__content-large {
    text-align: right;
    padding-right: $padding-sm;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20rem;
    flex: 0 0 20rem;
    max-width: 20rem;
  }
}
