@import "~@fastybird-com/web-ui-theme/assets/variables/colors";
@import "~@fastybird-com/web-ui-theme/assets/variables/screen";
@import "~@fastybird-com/web-ui-theme/assets/mixins/utilities";

.fb-list-item {
  &__container {
    height: 55px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;

    @media (max-width: $screen-xs-max) {
      margin: 5px;
      padding: 0;
    }

    .fb-spinner__container {
      position: unset;
    }

    .fb-checkbox__container {
      padding: 0;
      margin: 0;
      display: inline-block;
    }

    &-with-status {
      &[data-state="on"] {
        > div {
          border-left: 4px solid $brand-primary;
        }
      }

      &[data-state="off"] {
        > div {
          border-left: 4px solid $gray-lighter;
        }

        .fb-list-item {
          &__icon svg,
          &__heading {
            color: $gray-lighter;
          }
        }

        .fb-icon-with-child__container-child {
          background-color: $brand-danger;
        }
      }
    }
  }

  &__box {
    @include gridRow;

    margin: 0;

    border: 1px solid $gray-lighter;
    border-radius: 4px;
    background-color: #fff;

    &:not(:last-child) {
      @media (min-width: $screen-sm-min) {
        border-bottom: 1px solid $gray-lighter;
      }
    }
  }

  &__icon {
    font-size: 25px;
    line-height: 53px;
    height: 53px;
    text-align: center;

    @include gridCel(0, 0);

    -webkit-box-flex: 0;
    -ms-flex: 0 0 14%;
    flex: 0 0 14%;
    max-width: 14%;

    @media (max-width: $screen-xs-max) {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
  }

  &__heading {
    overflow: hidden;
    padding-top: 18px;

    @include gridCel(0, 0);

    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;

    > h2 {
      margin: 2px 0;
      font-size: 120%;
      font-weight: 500;
    }

    &.with-subheading {
      padding-top: 10px;

      > h2 {
        font-size: 100%;
      }
    }

    small {
      font-size: 80%;
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 85%;
      white-space: nowrap;
    }
  }

  &__detail-icon {
    font-size: 15px;
    line-height: 53px;
    height: 53px;
    color: $gray-light;

    text-align: right;

    @include gridCel(0, 5px);

    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  &__detail-content,
  &__detail-content-large {
    font-size: 15px;
    line-height: 53px;
    height: 53px;
    text-align: right;

    @include gridCel(0, 5px);

    > div {
      .fb-things-switch__loading {
        margin-top: 10px;
        height: 33px;
      }
    }
  }

  &__detail-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;

    @media (max-width: $screen-xs-max) {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
  }

  &__detail-content-large {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 22%;
    flex: 0 0 22%;
    max-width: 22%;

    @media (max-width: $screen-xs-max) {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
      flex: 0 0 35%;
      max-width: 35%;
    }
  }
}
