@import "~@fastybird/web-ui-theme/src/assets/mixins/utilities";

.fb-account-sign-up {
  &__container {
    padding: 0 30px 30px 30px;
  }

  &__heading {
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 30px;
    text-align: center
  }

  &__name {
    @include flexRow;

    &-field {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}
