@import "~@fastybird-com/web-ui-theme/assets/variables/colors";
@import "~@fastybird-com/web-ui-theme/assets/variables/borders";

.fb-settings-list-item {
  &__container {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin: 5px 0;
    background-color: #fff;
    border: 1px solid $gray-lighter;
    border-radius: $border-radius-base;
    width: 100%;
    text-align: left;
  }
}
