@import "~@fastybird-com/theme/assets/variables/colors";
@import "~@fastybird-com/theme/assets/variables/texts";
@import "~@fastybird-com/theme/assets/mixins/border.radius";

.fb-phone-bottom-menu {
  &__container {

  }

  &__backdrop {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
  }

  &__items {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10000;
    width: 100%;
    background: #fff;
    @include border-top-radius(15px);
    box-sizing: border-box;
  }

  &__heading {
    border-bottom: 1px solid $gray-lighter;
    line-height: $line-height-base;
    padding: 15px;
    margin: 0;
  }

  &__buttons {
    padding: 5px 15px;
  }

  &__cancel {
    text-align: center;
    border-top: 1px solid $gray-lighter;
    padding: 10px 0;
  }
}

.show-backdrop-enter-active,
.show-backdrop-leave-active {
  transition: all .35s;
}

.show-backdrop-enter,
.show-backdrop-leave-to {
  opacity: 0;
}

.show-items-enter-active,
.show-items-leave-active {
  transition: all .35s;
}

.show-items-enter,
.show-items-leave-to {
  transform: translate3d(0, 100%, 0);
}
