@import "~assets/scss/variables";

.fb-list-items-search {
  &__container {
    padding: $padding-sm;
    border-bottom: 1px solid $gray-lighter;
    background-color: $content-background-color;
  }
}
