@import "~@fastybird-com/theme/assets/variables/colors";

.fb-list-items-container {
  &__container {
    margin-bottom: 15px;
  }

  &__heading {
    margin: 0;
    padding: 5px 10px;
    border-bottom: 1px solid $gray-lighter;
    height: auto;
    width: 100%;
    font-size: 95%;
  }

  &__items {
    padding: 0 10px;
  }
}
