@import "~@fastybird/web-ui-theme/src/assets/variables/colors";

.fb-things-list-item {
  &__container {
    .fb-icon-with-child__container-child {
      width: 8px;
      height: 8px;
      bottom: 12px !important;
      right: -3px !important;
    }

    svg {
      height: 53px;
    }

    .fb-things-switch__container {
      float: right;
    }
  }

  &__value {
    font-size: 15px;
  }

  &__unit {
    font-size: 10px;
  }
}
