@import "~@fastybird-com/ui-theme/assets/variables/colors";

.fb-things-switch {
  &__container {
    text-align: center;

    .fb-spinner__container {
      margin-top: -10px;
    }
  }

  &__loading,
  &__result {
    width: 32px;
    text-align: center;
    display: inline-block;
    margin-top: 2px;
    margin-right: 5px;
    position: relative;

    .icon {
      width: 32px;
      line-height: 32px;
      font-size: 28px;
    }

    &-ok,
    &-err {
      display: inline-block;
      font-size: floor(32px * 0.5);
      height: 32px;
      line-height: 32px;
      text-align: center;
      width: 32px;
      position: relative;
    }

    &-ok {
      color: $brand-primary;
    }

    &-err {
      color: $brand-warning;
    }
  }

  &__loading {
    > div {
      display: inline-block;
      font-size: floor(32px * 0.5);
      height: 32px;
      line-height: 32px;
      text-align: center;
      width: 32px;
      position: relative;
    }
  }

  &__container {
    &[data-state="off"] {
      .fb-switch-element__container input:disabled ~ .fb-switch-element__track {
        background-color: $gray-lighter
      }

      .fb-switch-element__container input:disabled ~ .fb-switch-element__thumb {
        border-color: $gray-lighter;
      }
    }
  }
}
