@import "~@fastybird/web-ui-theme/src/assets/variables/screen";
@import "~@fastybird/web-ui-theme/src/assets/mixins/utilities";

.fb-triggers-select-date {
  &__container {
    .vue-scroll-picker {
      font-size: 2.4rem;
    }

    .vue-scroll-picker-layer {
      div.top {
        background: linear-gradient(180deg, #fcfcfc 10%, rgba(255, 255, 255, 0.7));
      }
      div.bottom {
        background: linear-gradient(0deg, #fcfcfc 10%, rgba(255, 255, 255, 0.7));
      }
    }

    h3 {
      display: inline-block;
      max-width: 100%;
      margin: 0 0 $margin-sm $margin-sm;
      font-weight: bold;
      font-size: 1.3rem;
    }
  }
}
