@import "~@fastybird-com/web-ui-theme/assets/variables/colors";

.fb-routines-list-item {
  &__container {
    svg {
      height: 53px;
    }
  }

  &__info {
    svg {
      float: right;
      color: $gray-light;
    }

    small {
      display: inline-block;
      margin-right: 10px;
      font-size: 12px;
      color: $gray-light;
    }
  }
}
