@import "~@fastybird-com/theme/assets/styles/variables";

.fb-iot-things-list-container {
  &__container {
    @media (max-width: $screen-xs-max) {
      padding: 0 15px;
    }

    @media (min-width: $screen-sm-min) {
      padding: 15px 15px 0 30px;
    }

    > .row {
      > div {
        height: 55px;

        @media (max-width: $screen-xs-max) {
          border-bottom: 1px solid $gray-lighter;
        }

        @media (min-width: $screen-sm-min) {
          height: 70px;
          margin-bottom: 10px;
        }

        @media (min-width: $screen-sm-min) AND (max-width: $screen-sm-max) {
          padding-right: 10px;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
