@import "~@fastybird/web-ui-theme/src/assets/variables/colors";

.fb-groups-settings-group {
  &__item {
    &-icon {
      float: right;
    }

    &-remove {
      color: $brand-danger;
    }

    .fb-ui-spinner__container {
      margin-right: 15px;
    }

    .fb-ui-switch-element__container {
      float: right;
    }

    small {
      display: block;
      font-size: 80%;
    }
  }
}
