@import "~@fastybird-com/ui-theme/assets/variables/colors";
@import "~@fastybird-com/ui-theme/assets/variables/borders";

.fb-iot-groups-settings-group {
  &__item {
    &-icon {
      float: right;
    }

    &-remove {
      color: $brand-danger;
    }

    .fb-spinner__container {
      margin-right: 15px;
    }

    .fb-switch-element__container {
      float: right;
    }

    small {
      display: block;
      font-size: 80%;
    }
  }
}
