@import "~@fastybird-com/theme/assets/styles/variables";
@import "~@fastybird-com/theme/assets/styles/mixins";

.fb-triggers-create-view {
  &__container {
    padding: 15px;

    @media (max-width: $screen-xs-max) {
      padding: 5px;
    }

    .fb-card__container {
      border: 1px solid $gray-lighter;
      border-radius: 4px;
    }
  }
}
