@import "~assets/scss/variables";

.fb-triggers-create-view {
  &__container {
    position: relative;
    height: 100%;

    .fb-triggers-create-general__general {
      padding: $padding-sm;
    }

    .fb-triggers-select-date__container,
    .fb-triggers-select-time__container {
      padding: $padding-sm 0;
    }

    .fb-triggers-list-devices__container {
      .fb-scroll-shadow__inner {
        padding: $padding-sm;
      }
    }

    .fb-ui-items-container__items {
      padding: 0;

      .fb-list-item__content-large {
        flex: 0 0 13rem;
        max-width: 13rem;
        padding: 0;
      }
    }

    .fb-triggers-create-general__add-item-row.fb-ui-button[data-size=lg] {
      margin-top: $margin-sm;
      border-radius: 0;
      border-left: none;
      border-right: none;
    }

    hr {
      margin: $margin-lg 0;
    }
  }

  &__result {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $background-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 999;

    > div,
    .fb-ui-spinner__container {
      margin-left: auto;
      margin-right: auto;
    }

    .fb-ui-spinner__container {
      width: 10rem;
      height: 10rem;
    }

    .fb-ui-spinner__container:before,
    .fb-ui-spinner__container:after {
      width: 10rem;
      height: 10rem;
      margin: -5rem 0 0 -5rem;
      border-width: 4px;
    }
  }
}
