@import "~@fastybird/web-ui-theme/src/assets/variables/screen";
@import "~@fastybird/web-ui-theme/src/assets/mixins/utilities";

.fb-devices-connect-select-protocol {
  &__row {
    @include flexRow;

    &-item {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;

      margin-bottom: $margin-sm;
      padding: $padding-xs;

      .fb-ui-button[data-size="lg"] {
        text-align: center;
        font-size: 1.8rem;
        overflow: hidden;

        svg {
          display: block;
          margin: 0 auto $margin-sm auto;
          font-size: 2em;
        }
      }
    }
  }
}
