@import "~assets/scss/variables";

.fb-triggers-settings-trigger {
  &__container {

  }

  &__heading {
    font-size: $heading-font-size-md;
    line-height: $heading-line-height-md;
    border-bottom: 1px solid $gray-lighter;
    padding-left: $padding-md;
    margin: $margin-sm 0 0 0;
  }

  &__item {
    &-action {
      padding-left: $padding-xs;
      padding-right: $padding-xs;
    }

    &-remove {
      color: $brand-danger;
    }
  }
}
