@import "~assets/scss/variables";
@import "~assets/scss/mixins";

.fb-desktop-detail-heading {
  &__container {
    @include flexRow;

    height: 5.5rem;
    border-bottom: 1px solid $gray-lighter;
    background-color: $content-background-color;
  }

  &__icon {
    font-size: 2.75rem;
    line-height: 5.4rem;
    height: 100%;
    text-align: center;

    -webkit-box-flex: 0;
    -ms-flex: 0 0 5.5rem;
    flex: 0 0 5.5rem;
    max-width: 5.5rem;
  }

  &__heading {
    height: 100%;
    overflow: hidden;

    -webkit-box-flex: 0;
    -ms-flex: 4 0 0;
    flex: 4 0 0;

    > h2 {
      margin: 0;
      line-height: 5.4rem;
      font-size: $font-size-lg;
      font-weight: 500;
    }

    &-with-subheading {
      > h2 {
        margin-top: $margin-xs;
        line-height: $heading-line-height-md;
        font-size: $heading-font-size-md;
      }

      > small {
        line-height: $line-height-sm;
        font-size: $font-size-sm;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 85%;
        white-space: nowrap;
      }
    }
  }

  &__buttons {
    font-size: 2.75rem;
    line-height: 5.4rem;
    height: 100%;
    text-align: right;

    .fb-ui-button {
      min-width: 3.5rem;
      height: 3rem;
    }
  }
}
