.fb-routines-edit-action-thing {
  &__container {
    padding-bottom: 50px;

    .fb-checkbox__container {
      padding-top: 0;
      padding-bottom: 0;
      margin: -3px 0 0 0;
    }
  }

  &__channel-property {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  &__values {
    padding-top: 12px;
    float: right;

    label {
      padding-left: 6px;
      padding-right: 6px;
    }
  }
}
