@import "~@fastybird/web-ui-theme/src/assets/mixins/utilities";

.fb-account-edit {
  &__columns {
    @include flexRow;
  }

  &__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  &__name-column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    width: 20%;
    max-width: 33.333333%;
  }
}
