@import "~assets/scss/variables";
@import "~assets/scss/mixins";

.fb-devices-detail-default {
  &__container {
    padding-top: $padding-md;

    @include flexColumn;
    align-items: center;

    .fb-ui-no-results__container {
      margin: $margin-md auto;
    }
  }
}
