.fb-iot-things-detail-energy-property {
  &__value-container {
    padding-right: 5px;

    .fb-btn {
      cursor: pointer;
      position: absolute;
      top: 2px;
      right: 2px;
      border-radius: 50%;
    }
  }

  &__value {
    font-size: 15px;
  }

  &__unit {
    font-size: 10px;
  }
}
