@import "~@fastybird-com/theme/assets/variables/colors";

.fb-routines-settings-routine {
  &__item {
    &-icon {
      float: right;
    }

    &-remove {
      color: $brand-danger;
    }

    .fb-spinner__container {
      margin-right: 15px;
    }

    .fb-switch-element__container {
      float: right;
    }
  }
}
