@import "~@fastybird-com/theme/assets/styles/variables";

a.list-group-item.text-danger {
  color: #ac6819;
}

.fb-routines-settings-thing {
  &__container {
    button {
      outline: none;
    }

    @media (min-width: $screen-sm-min) {
      padding: 5px 15px !important;
    }

    .switch {
      margin-top: 7px;
    }

    .switch-track {
      background-color: $gray
    }

    .switch-thumb {
      border-color: $gray;
    }

    .switch-input.no-control:disabled ~ .switch-track {
      background-color: $gray;
      cursor: not-allowed;
    }

    .switch-input.no-control:disabled ~ .switch-thumb {
      border-color: $gray;
    }

    .switch-input.no-control:disabled:checked ~ .switch-track {
      background-color: $brand-primary;
      cursor: not-allowed;
    }

    .switch-input.no-control:disabled:checked ~ .switch-thumb {
      border-color: $brand-primary;
    }
  }
}
