@import "~@fastybird-com/theme/assets/styles/variables";

.fb-iot-thing-detail-channels-container {
  &__heading {
    border-bottom: 1px solid $gray-lighter;
    height: auto;
    width: 100%;
    font-size: 95%;
    margin: 0;
    padding: 5px 10px;
  }
}
