@import "~assets/scss/variables";

.fb-triggers-select-action-device-property {
  &__container {
    width: 100%;
  }

  &__property {
    margin: $margin-sm;

    .fb-list-item {
      &__heading {
        padding-left: $padding-md;
      }

      &__content {
        .fb-form-checkbox__container {
          padding: 0;
        }
      }
    }
  }

  &__actions {
    .fb-triggers-select-action-device-property__action:first-child {
      .fb-list-item__inner {
        border-top: 1px solid $gray-lighter;
      }
    }
  }

  &__action {
    .fb-list-item {
      &__heading {
        padding-left: $padding-lg;
      }

      &__content {
        padding-right: $padding-lg;
        text-align: center;

        .fb-form-radio {
          &__indicator-label {
            display: none;
          }

          &__container {
            padding: 0;
          }
        }
      }

      &__content-large {
        padding-right: $padding-lg;
        max-width: 15rem;
      }
    }

    &-operation {
      width: 8rem;
      display: inline-block;

      input {
        text-align: right;
      }

      &-unit {
        font-size: $font-size-sm;
      }
    }
  }
}
