@import "~assets/scss/variables";
@import "~assets/scss/mixins";

.fb-triggers-detail-default-conditions-container-add-or-edit {
  &__outer {

  }

  &__container {
    .fb-ui-modal-window {
      &__body {
        .fb-ui-items-container__items {
          padding: 0;
        }
      }

      &__footer {
        padding: 0 $padding-sm $padding-md $padding-sm;
      }
    }

    &[data-type="list-devices"].fb-ui-modal-window__container {
      .fb-ui-modal-window__body {
        padding: 0 $padding-sm;
      }
    }

    &[data-type="select-device"].fb-ui-modal-window__container,
    &[data-type="select-date-time"].fb-ui-modal-window__container {
      .fb-ui-modal-window__body {
        padding: $padding-sm 0;
      }
    }
  }

  &__icon {
    font-size: 4em;
    margin-bottom: $margin-sm;
  }

  &__content {
    min-height: 10rem;
  }

  &__type {
    &-row {
      @include flexRow;

      &-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;

        margin-bottom: $margin-sm;
        padding: $padding-xs;

        .fb-ui-button[data-size="lg"] {
          text-align: center;
          font-size: $font-size-lg;
          line-height: $line-height-lg;
          overflow: hidden;

          svg {
            display: block;
            margin: 0 auto $margin-sm auto;
            font-size: $font-size-lg * 2;
            line-height: $line-height-lg * 2;
          }
        }
      }
    }
  }

  &__select-type {
    .fb-ui-divider__container {
      margin: 0;
    }

    .fb-ui-button[data-variant="link"] {
      font-size: $font-size-lg;
      padding: $margin-sm;
    }
  }
}
