@import "~assets/scss/variables";
@import "~assets/scss/mixins";

.fb-triggers-detail-default-conditions-container-add-or-edit {
  &__outer {

  }

  &__container {
    &[data-variant="phone"],
    &[data-variant="tablet"] {
      .fb-triggers-select-date,
      .fb-triggers-select-time {
        &__container {
          margin-left: -$margin-sm;
          margin-right: -$margin-sm;
        }
      }

      .fb-triggers-select-condition-device {
        &__container {
          margin-left: -$margin-sm;
          margin-right: -$margin-sm;

          .fb-ui-items-container {
            &__items {
              padding-left: 0;
              padding-right: 0;
            }
          }
        }
      }

      .fb-ui-modal-form__result {
        left: -$margin-sm;
        right: -$margin-sm;
      }

      &[data-type="list-devices"] {
        .fb-ui-modal-window__body {
          padding: 0;
        }

        .fb-scroll-shadow__inner {
          padding: $padding-sm;
        }
      }
    }

    &[data-variant="default"] {
      .fb-triggers-select-condition-device {
        &__container {
          .fb-ui-items-container {
            &__heading {
              padding-left: 0;
            }

            &__items {
              padding-left: 0;
              padding-right: 0;

              .fb-triggers-select-condition-device-property {
                &__conditions {
                  margin-left: -$margin-md;
                  margin-right: -$margin-md;

                  .fb-list-item__heading {
                    margin-left: $margin-sm;
                  }

                  .fb-list-item__content {
                    margin-right: $margin-sm;
                  }
                }
              }
            }
          }
        }
      }

      .fb-triggers-select-date,
      .fb-triggers-select-time {
        &__container {
          margin-left: -$margin-md;
          margin-right: -$margin-md;

          h3 {
            margin-left: $margin-md;
          }
        }
      }

      .fb-ui-modal-form__result {
        left: -$margin-md;
        right: -$margin-md;
      }
    }
  }

  &__icon {
    font-size: 4em;
    margin-bottom: $margin-sm;
  }

  &__content {
    min-height: 10rem;
    height: 100%;
  }

  &__type {
    &-row {
      @include flexRow;
      flex-wrap: wrap;

      &-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;

        margin-bottom: $margin-sm;
        padding: $padding-xs;

        .fb-ui-button[data-size="lg"] {
          text-align: center;
          font-size: $font-size-lg;
          line-height: $line-height-lg;
          overflow: hidden;

          svg {
            display: block;
            margin: 0 auto $margin-sm auto;
            font-size: $font-size-lg * 2;
            line-height: $line-height-lg * 2;
          }
        }
      }
    }
  }

  &__select-type {
    .fb-ui-divider__container {
      margin: 0;
    }

    .fb-ui-button[data-variant="link"] {
      font-size: $font-size-lg;
      padding: $margin-sm;
    }
  }
}
