@import "~@fastybird-com/theme/assets/styles/variables";

.fb-switch-element {
  &__container {
    &.switch {
      .switch-track {
        background-color: $gray
      }

      .switch-thumb {
        border-color: $gray;
      }

      .switch-input:checked ~ .switch-track {
        background-color: $brand-primary;
      }

      .switch-input:checked ~ .switch-thumb {
        border-color: $brand-primary;
      }

      .switch-input:disabled ~ .switch-track {
        background-color: $gray;
        cursor: not-allowed;
      }

      .switch-input:disabled ~ .switch-thumb {
        border-color: $gray;
      }

      .switch-input:disabled:checked ~ .switch-track {
        background-color: $brand-primary;
        cursor: not-allowed;
      }

      .switch-input:disabled:checked ~ .switch-thumb {
        border-color: $brand-primary;
      }
    }
  }
}
