@import "~@fastybird-com/theme/assets/styles/variables";

.fb-iot-things-detail-channel-energy {
  &__container {
    position: relative;
    padding-bottom: 56px;

    .fb-iot-things-detail-channel-energy {
      &__channel {
        border-bottom: 1px solid $gray-lighter;
        height: 55px;
        width: 100%;
      }

      &__channel:last-child {
        border-bottom: none;
      }
    }
  }
}
