@import "~@fastybird/web-ui-theme/src/assets/variables/colors";
@import "~@fastybird/web-ui-theme/src/assets/variables/screen";

.fb-things-detail-channel-light {
  &__container {
    position: relative;

    @media (max-width: $screen-xs-max) {
      padding: 0 10px;
    }

    .fb-things-detail-channel-light {
      &__channel {
        border-bottom: 1px solid $gray-lighter;
        height: 55px;
        width: 100%;

        .fb-things-detail-channel-light {
          &__preview {
            border: 1px solid $gray-lighter;
            line-height: 36px;
          }
        }

        .fb-things-detail-channel-light {
          &__icon {
            height: 30px;
            width: 30px;
            fill: $gray;
            stroke: $gray;
          }
        }
      }

      &__channel-brightness {
        height: 75px;
      }

      &__channel:last-child {
        border-bottom: none;
      }
    }
  }

  &__container[data-state="off"] {
    .fb-things-detail-channel-light {
      &__channel {
        .fb-things-detail-channel-light {
          &__icon {
            fill: $gray-lighter;
            stroke: $gray-lighter;
          }
        }
      }
    }
  }
}
