@import "~assets/scss/variables";
@import "~assets/scss/mixins";

.fb-index {
  &__container {
    height: 100%;

    &-inner {
      @include flexRow;
      height: 100%;
      overflow: hidden;
    }
  }

  &__logo {
    text-align: center;
    padding: $padding-sm 0;
    height: 5rem;
    display: block;

    @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
      padding: 0.875rem 0;
    }

    > svg {
      display: inline-block;
      width: auto;
      height: 3rem;
      fill: $brand-primary-contrast;

      @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        margin-left: $margin-sm;
        height: 3.25rem;
      }
    }
  }

  &__header-logo {
    flex-grow: 1;
    text-align: center;
    margin: $margin-md 0;
    height: 3rem;

    > svg {
      fill: $brand-primary-contrast;
      height: 3rem;
    }
  }

  &__user-navigation {
    @media (min-width: $screen-sm-min) {
      display: none;
    }
  }

  &__user-menu {
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }

  &__offline-info {
    text-align: center;

    h3 {
      color: $brand-danger;
    }

    &-icon {
      color: $brand-danger;
      font-size: 8rem;
      margin: $margin-lg 0 $margin-md 0;
    }
  }
}
