@import "~assets/scss/variables";

.fb-sign {
  &__container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    &-inner {
      margin-left: auto;
      margin-right: auto;
      width: 37.5rem;
    }
  }

  &__logo {
    display: block;
    margin: 0 auto $margin-lg auto;
    width: 15rem;

    svg {
      shape-rendering: geometricPrecision;
      text-rendering: geometricPrecision;
      image-rendering: optimizeQuality;
      fill-rule: evenodd;
      clip-rule: evenodd;

      path {
        fill: $brand-primary;
      }
    }
  }

  &__owner {
    display: block;
    text-align: center;
    margin-top: 15px;
    border-left: none !important;

    a {
      color: $link-color !important;

      &:hover,
      &:focus {
        color: $link-color !important;
        text-decoration: none;
      }
    }
  }
}
