@import "~@fastybird-com/web-ui-theme/assets/variables/colors";
@import "~@fastybird-com/web-ui-theme/assets/variables/screen";

.fb-routines-select-thing {
  &__container {
    @media (min-width: $screen-sm-min) {
      max-height: 50vh;
      overflow-y: scroll;
    }

    @media (max-width: $screen-xs-max) {
      margin-left: 10px;
      margin-right: 10px;
    }

    .fb-list-item__container {
      margin-left: 0;
      margin-right: 0;

      &[data-state="on"] > div {
        border: 1px solid $gray-light;

        .fb-list-item__detail-content {
          svg:first-child {
            color: $brand-primary;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
