@import "~assets/scss/variables";
@import "~assets/scss/mixins";

.fb-devices-detail-default-channel-container {
  &__container {
    width: 100%;

    .fb-ui-items-container {
      &__buttons {
        @media (min-width: $screen-sm-min) {
          padding-right: $padding-sm;
          flex: 0 0 30rem;
          max-width: 30rem;
        }

        .fb-ui-button {
          line-height: 2.5rem;
          height: 2.5rem;
        }
      }

      &__items {
        @media (max-width: $screen-xs-max) {
          padding: 0;
        }
      }
    }
  }

  &__items {
    @include flexRow;
    align-items: center;

    @media (max-width: $screen-xs-max) {
      padding: 0;
    }
  }
}
