@import "~@fastybird-com/theme/assets/variables/colors";

.fb-result-ok {
  &__container {
    width: 100px;
    display: block;
    margin: 40px auto 0;

    circle,
    polyline {
      fill: none;
      stroke-dasharray: 1000;
      stroke-dashoffset: 0;
      stroke: $brand-success;
      stroke-width: 6;
      stroke-miterlimit: 10;
    }

    circle {
      -webkit-animation: result-ok-dash .9s ease-in-out;
      animation: result-ok-dash .9s ease-in-out;
    }

    polyline {
      stroke-dashoffset: -100;
      stroke-linecap: round;
      -webkit-animation: result-ok-dash-check .9s .35s ease-in-out forwards;
      animation: result-ok-dash-check .9s .35s ease-in-out forwards;
    }
  }
}

@-webkit-keyframes result-ok-dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes result-ok-dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes result-ok-dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes result-ok-dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
