@import "~@fastybird-com/ui-theme/assets/variables/colors";
@import "~@fastybird-com/ui-theme/assets/variables/screen";
@import "~@fastybird-com/ui-theme/assets/mixins/utilities";

.fb-routines-today-carousel-slide {
  &__container {
    height: 55px;
    cursor: pointer;
    padding-right: 10px;
  }

  &__box {
    @include gridRow;

    margin: 0;

    border: 1px solid $gray-lighter;
    border-radius: 4px;
    background-color: #fff;

    &:not(:last-child) {
      @media (min-width: $screen-sm-min) {
        border-bottom: 1px solid $gray-lighter;
      }
    }
  }

  &__icon {
    font-size: 15px;
    line-height: 53px;
    height: 53px;
    text-align: center;

    @include gridCel(0, 0);

    -webkit-box-flex: 0;
    -ms-flex: 0 0 14%;
    flex: 0 0 14%;
    max-width: 14%;

    @media (max-width: $screen-xs-max) {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
  }

  &__heading {
    overflow: hidden;
    padding-top: 10px;

    @include gridCel(0, 0);

    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;

    > h2 {
      margin: 2px 0;
      font-size: 100%;
      font-weight: 500;
    }

    small {
      font-size: 80%;
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 85%;
      white-space: nowrap;
    }
  }
}
