@import "~assets/scss/variables";

.fb-triggers-detail-default {
  &__container {
    @media (max-width: $screen-xs-max) {
      .fb-ui-items-container__items {
        padding: 0;
      }
    }

    @media (min-width: $screen-sm-min) {
      .swipeout-list-item {
        margin-bottom: $margin-sm;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
