@import "~assets/scss/variables";
@import "~assets/scss/mixins";

.fb-triggers-list-devices {
  &__container {
    height: 100%;
    overflow: hidden;

    .fb-list-item__container {
      margin-left: 0;
      margin-right: 0;
    }

    .fb-ui-no-results__container {
      display: block;
      margin: 0 auto;
    }
  }

  &__items {

  }

  &__buttons {
    @include flexRow;

    &-item {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}
