@import "~@fastybird-com/theme/assets/styles/variables";

.fb-routines-detail {
  &__container {
    position: relative;
  }

  &__conditions-container,
  &__actions-container {
    margin-left: 0;
    margin-right: 0;
  }
}
