.fb-routines-detail {
  &__container {
    position: relative;
  }

  &__conditions-container,
  &__actions-container {
    margin-left: 0;
    margin-right: 0;
  }

  &__new-condition,
  &__new-action {
    text-align: center;
    margin: 10px 0;
  }
}
