.fb-iot-things-detail-channel-energy-property {
  &__value-container {
    button {
      position: absolute;
      top: 2px;
      right: 2px;
    }
  }

  &__value {
    font-size: 15px;
  }

  &__units {
    font-size: 10px;
  }
}
