@import "~@fastybird-com/theme/assets/variables/colors";

.fb-routines-edit-condition-thing {
  &__container {
    margin-left: -10px;
    margin-right: -10px;
    padding-bottom: 50px;

    .fb-checkbox__container {
      padding-top: 0;
      padding-bottom: 0;
      margin: -3px 0 0 0;
    }

    .fb-btn {
      text-align: right;
      line-height: 2em;
    }
  }

  &__channel-property {
    margin-left: 0;
    margin-right: 0;

    .fb-field-container__container {
      display: inline-block;

      select {
        width: 80px;
      }
    }

    &-combined-operands {
      .fb-field-container__container {
        select {
          width: 50px;
        }

        input {
          width: 60px;
        }
      }
    }
  }
}
