.fb-routines-edit-condition-thing {
  &__container {
    .fb-checkbox__container {
      padding-top: 0;
      padding-bottom: 0;
      margin: -3px 0 0 0;
    }
  }

  &__channel-property {
    margin-right: 0 !important;
    margin-left: 0 !important;

    .fb-field-container__container {
      display: inline-block;

      select {
        width: 80px;
      }
    }

    &-combined-operand {
      .fb-field-container__container {
        select {
          width: 50px;
        }

        input {
          width: 60px;
        }
      }
    }
  }
}
