@import "~@fastybird-com/ui-theme/assets/variables/colors";
@import "~@fastybird-com/ui-theme/assets/mixins/utilities";

.fb-iot-groups-create {
  &__icons {
    padding-left: 15px;
    padding-right: 15px;

    > div {
      @include gridRow;

      > div {
        @include gridCel(0, 0);

        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        width: 20%;
        max-width: 33.333333%;

        text-align: center;
        display: inline-block;
        position: relative;
        float: left;
        font-size: 12px;
        padding: 0;

        &:before {
          content: "";
          display: block;
          padding-top: 100%;
        }
      }
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 5px;
    margin: 10px;
    text-align: center;
    vertical-align: center;
    text-transform: uppercase;
    border: 1px solid $gray-lighter;
    border-radius: 50%;
    cursor: pointer;

    svg {
      height: 100%;
      font-size: 3em;
    }

    &-selected {
      background-color: $brand-primary;
      color: #fff;
    }
  }
}
