@import "~assets/scss/variables";
@import "~assets/scss/mixins";

.fb-triggers-desktop-create {
  &__container {
    &[data-variant="tablet"] {
      .fb-triggers-create-general {
        &__general {
          margin-bottom: $margin-sm;
        }

        &__items-container {
          margin-left: -$margin-sm;
          margin-right: -$margin-sm;
        }
      }

      .fb-triggers-select-condition-device,
      .fb-triggers-select-action-device {
        &__container {
          margin-left: -$margin-sm;
          margin-right: -$margin-sm;

          .fb-ui-items-container {
            &__items {
              padding-left: 0;
              padding-right: 0;
            }
          }
        }
      }

      .fb-triggers-select-date,
      .fb-triggers-select-time {
        &__container {
          margin-left: -$margin-sm;
          margin-right: -$margin-sm;
        }
      }

      &[data-type="list-devices"] {
        .fb-ui-modal-window__body {
          padding: 0;
        }

        .fb-scroll-shadow__inner {
          padding: $padding-sm;
        }
      }
    }

    &[data-variant="default"] {
      .fb-triggers-create-general {
        &__general {
          margin-bottom: $margin-sm;
        }

        &__items-container {
          .fb-ui-items-container {
            &__heading {
              padding-left: 0;
            }

            &__buttons {
              padding-right: 0;
            }

            &__items {
              padding-left: 0;
              padding-right: 0;
            }
          }
        }
      }

      .fb-triggers-select-condition-device,
      .fb-triggers-select-action-device {
        &__container {
          .fb-ui-items-container {
            &__heading {
              padding-left: 0;
            }

            &__items {
              padding-left: 0;
              padding-right: 0;

              .fb-triggers-select-condition-device-property,
              .fb-triggers-select-action-device-property {
                &__conditions {
                  margin-left: -$margin-md;
                  margin-right: -$margin-md;

                  .fb-list-item__heading {
                    margin-left: $margin-sm;
                  }

                  .fb-list-item__content {
                    margin-right: $margin-sm;
                  }
                }
              }
            }
          }
        }
      }

      .fb-triggers-select-date,
      .fb-triggers-select-time {
        &__container {
          margin-left: -$margin-md;
          margin-right: -$margin-md;

          h3 {
            margin-left: $margin-md;
          }
        }
      }
    }
  }

  &__icon {
    font-size: 4em;
    margin-bottom: $margin-sm;
  }

  &__select-type {
    @include flexRow;
    flex-wrap: wrap;

    padding: $padding-xs;

    &-item {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;

      margin-bottom: $margin-sm;
      padding: $padding-xs;

      .fb-ui-button[data-size="lg"] {
        text-align: center;
        font-size: $font-size-lg;
        line-height: $line-height-lg;
        overflow: hidden;

        svg {
          display: block;
          margin: 0 auto $margin-sm auto;
          font-size: $font-size-lg * 2;
          line-height: $line-height-lg * 2;
        }
      }
    }
  }
}
