@import "~assets/scss/variables";
@import "~assets/scss/mixins";

.fb-triggers-desktop-create {
  &__container {
    .fb-ui-modal-window__footer {
      .fb-ui-button[data-variant="link"] {
        color: $text-muted !important;
      }
    }

    .fb-ui-modal-window__body {
      .fb-ui-items-container__heading {
        padding-left: 0;
      }

      .fb-ui-items-container__items {
        padding: 0;
      }
    }

    &[data-type="select-device"].fb-ui-modal-window__container {
      .fb-ui-modal-window__body {
        padding: $padding-md 0;

        .fb-ui-items-container {
          &__heading {
            padding-left: $padding-md;
          }
        }
      }
    }

    &[data-type="list-devices"].fb-ui-modal-window__container {
      .fb-ui-modal-window__body {
        padding: 0 $padding-md;
      }
    }

    &[data-type="select-date-time"].fb-ui-modal-window__container {
      .fb-ui-modal-window__body {
        padding: $padding-md 0;
      }
    }
  }

  &__icon {
    font-size: 4em;
    margin-bottom: $margin-sm;
  }

  &__select-type {
    @include flexRow;

    &-item {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;

      margin-bottom: $margin-sm;
      padding: $padding-xs;

      .fb-ui-button[data-size="lg"] {
        text-align: center;
        font-size: $font-size-lg;
        line-height: $line-height-lg;
        overflow: hidden;

        svg {
          display: block;
          margin: 0 auto $margin-sm auto;
          font-size: $font-size-lg * 2;
          line-height: $line-height-lg * 2;
        }
      }
    }
  }
}
